[submodule "Assets/scripts/strange"]
	path = Assets/scripts/strange
	url = https://github.com/strangeioc/strange-core.git
[submodule "UnityTestTools"]
	path = Assets/scripts/UnityTestTools
	url = git@github.com:haysclark/UnityTestTools.git
